@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

.create-service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #f5f5f5;

  h2 {
    margin-bottom: 20px;
    color: #163C8A ;
  }

  form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;

    mat-form-field {
      width: 100%;
      margin-bottom: 15px;
    }

    .full-width {
      width: 100%;
    }

    .half-width {
      width: 48%;
      margin-right: 2%;
    }

    .half-width:last-child {
      margin-right: 0;
    }

    .section {
      margin-bottom: 30px;
    }

    button {
      width: 100%;
    }

    h3 {
      margin-bottom: 10px;
    }

    .route-details, .route-map {
      width: 100%;
      margin-top: 20px;

      table {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }
  }

  h3 {
    margin-top: 20px;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }

  button:last-child {
    margin-right: 0; /* Eliminar margen derecho del último botón */
  }

  button[color="primary"] {
    background-color: #163C8A; /* Azul */
    color: white;
  }

  button[color="warn"] {
    background-color: #ff0000; /* Rojo */
    color: white;
  }
}

.custom-button {
  background-color: #163C8A;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 50%; /* Ancho ajustado al 50% de la pantalla */

  &:hover {
    background-color: #1565c0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  &:active {
    background-color: #0d47a1;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(30, 136, 229, 0.4);
  }
}

/* Media query para pantallas móviles */
@media (max-width: 768px) {
  .custom-button {
    width: 100%; /* Ancho ajustado al 100% de la pantalla en dispositivos móviles */
  }
}



