@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: ‘Poppins’, sans-serif;
  color: #000;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: ‘Gabarito’, sans-serif;
  color: #000;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

legend {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 500;
  color: #000;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-field {
  flex: 1;
  min-width: 200px;
}

.full-width {
  width: 100%;
}

mat-form-field {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}

mat-select,
input {
  font-size: 1em;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #0000ff;
  /* Azul */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.map-container {
  width: 100%;
  height: 400px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }

  button:last-child {
    margin-right: 0; /* Eliminar margen derecho del último botón */
  }

  button[color="warn"] {
    background-color: #ff0000; /* Rojo */
    color: white;
  }
}

.custom-button {
  background-color: #0000ff;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 50%; /* Ancho ajustado al 50% de la pantalla */

  &:hover {
    background-color: #1565c0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  &:active {
    background-color: #0d47a1;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(30, 136, 229, 0.4);
  }
}

/* Media query para pantallas móviles */
@media (max-width: 768px) {
  .custom-button {
    width: 100%; /* Ancho ajustado al 100% de la pantalla en dispositivos móviles */
  }
}



