.container {
  text-align: center;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

h1 {
  font-family: 'Gabarito', sans-serif;
  margin-bottom: 20px;
  color: #000;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0000ff; /* Azul */
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
