.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Gabarito', sans-serif;
  margin-bottom: 20px;
  color: #000;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #0000ff; /* Azul */
  color: white;
}
