body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f5f5f5;
}

.login-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: 'Poppins', sans-serif;

  .logo {
    width: 180px;
    margin-bottom: 10px;
  }

  h1 {
    font-family: 'Gabarito', sans-serif;
    margin-bottom: 20px;
    color: #000;
  }

  h2 {
    margin-bottom: 20px;
    color: #163C8A ; /* Azul */
    text-align: center; /* Alinear a la izquierda */
    width: 100%; /* Asegurar que tome todo el ancho del contenedor */
  }

  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;

    button {
      flex: 1;
      padding: 10px;
      font-size: 16px;
      margin-right: 10px; /* Agregar margen derecho */
    }

    button:last-child {
      margin-right: 0; /* Eliminar margen derecho del último botón */
    }

    button[color="primary"] {
      background-color: #163C8A; /* Azul */
      color: white;
    }

    button[color="warn"] {
      background-color: #ff0000; /* Rojo */
      color: white;
    }
  }

  .forgot-password {
    margin-top: 15px;
    color: #0066cc;
    text-decoration: none;
  }

  .forgot-password:hover {
    text-decoration: underline;
  }
}
